<div class="home">
<div class="home-title">
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
</div>
 <form action="/movies">
        <button class="button" type="submit">Check the movies!</button>
      </form>
</div>
